*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* container */
.container {
    font-size: 4em;
}
/* Setting a p font-size */
.container > p {
    font-size: 2rem;
    background-color: darkgrey;
}